{{ define "main" }}

<h1 class="post-title">{{ .Title }}</h1>

{{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
{{ if .Params.PublishDate }}
  <strong>Published: </strong>{{ .PublishDate.Format $dateFormat }}
  <br>
{{ end }}
{{ if .Params.LastMod }}
  <strong>Last Modified: </strong>{{ .Lastmod.Format $dateFormat }}
  <br>
{{ end }}
{{ with .Params.tags }}
  <strong>Tags: </strong>
  {{ range . }}
    <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
{{ end }}
<br>
{{ if ne .Params.done true }}
  <i>This page is currently a <strong>Work in Progress</strong></i>
{{ end }}


{{ if ne .Params.toc false }}
  {{ partial "toc.html" . }}
{{ end }}

{{ .Content }}
{{ template "_internal/disqus.html" . }}

{{ end }}
