/* base */
body {
  background-image: url('{{ "img/geometry2.png" | absURL }}');
}

/* anchors */
a,
a:visited {
  color: hsl(169, 67%, 55%);
  background-image: none;
  text-decoration: underline;
  text-decoration-color: hsl(169, 67%, 55%);
}

a:hover {
  color: hsl(169, 67%, 65%);
  text-decoration-color: hsl(169, 67%, 65%);
}

/* navbar */
nav a,
nav a:visited {
  color: #41403e;
  text-decoration: none;
  border-bottom: 5px solid #d653d9;
}
nav a:hover {
  color: #41403e;
  border-bottom: 5px solid #e896e9;
}
/* blockquote */
blockquote {
  font-style: italic;
}

/* post list */
.post-list {
  font-size: 2em; 
}
.summary {
  margin-bottom: 0.1em; 
}

/* post single */
.post-title {
  margin-bottom: 0.1em; 
}

/* toc */
.toc {
  padding: 1em;
  margin-top: 1em;
}
.toc h2 {
  font-size: 1.3em;
}
